.fa-intercom{
    font-size: 70px;
}
.fa-headset{
    font-size: 70px;
}
.fa-users{
    font-size: 70px;
}
.fa-handshake-angle{
        font-size: 70px;
    }
.fa-landmark{
    font-size: 70px;
}
